* {
  box-sizing: border-box;
}

.normalMode {
  background-color: rgba(58, 155, 187, 0.534);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.787);
  max-width: 1024px;
  margin: 30px auto;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  padding: 1rem;
}

#headerDiv {
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  border-bottom: 3px double red;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  word-spacing: 1rem;
}

#headerDiv label:nth-child(3) {
  margin: 0 1.5rem;
}

header > i {
  font-size: 3rem;
}

nav i {
  margin-left: 1rem;
}

nav i:hover {
  cursor: pointer;
  color: rgba(255, 255, 0, 0.733);
}
a {
  color: inherit;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 1rem;
  height: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

#renderedList {
  width: 50%;
  border: 3px solid midnightblue;
  border-radius: 5px;
  background-color: azure;
  padding: 2rem;
  box-shadow: 3px 3px yellow, 6px 6px midnightblue, 0px 5px 10px;
}

#formDiv {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

fieldset {
  padding: 1rem;
  padding-bottom: 1rem;
  border: 3px solid crimson;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px;
  text-align: center;
  margin-bottom: 1rem;
}

form button {
  padding: .5rem 1rem;
  border-radius: 3px;
}
form button:hover {
  cursor: pointer;
  background-color: lavender;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
  border: 3px solid midnightblue;
  border-radius: 5px;
  background-color: azure;
  padding: 1rem;
  box-shadow: 0px 5px 10px;
}

li {
  margin: 1rem auto;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
}

label {
  font-size: 1rem;
}

.highlight {
  color: red;
}

.checkedBox {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.527);
}

#renderedList label {
  margin-right: 1rem;
  margin-left: .5rem;
}

#renderedList button {
  margin-right: 1rem;
}

#renderedList button:hover {
  cursor: pointer;
  color: red;
}

input {
  font-size: .75rem;
  padding: 5px;
  margin-top: 5px;
  border: 3px solid transparent;
}

input:hover {
  border: 3px solid midnightblue;
}

.darkMode {
  background-color: #0f1113c5;
  color:beige;
  max-width: 1024px;
  margin: 30px auto;
  height: 100vh;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.darkMode #renderedList, 
 .darkMode ul {
  background-color: rgba(15, 13, 13, 0.76);
  border-color: cyan;
}

.darkMode #renderedList {
  box-shadow: 3px 3px deeppink, 6px 6px cyan, 0px 5px 10px;
}

.darkMode nav i:hover {
  color: cyan;
}

.darkMode form input:hover {
  border: 3px solid cyan;
}